@model IEnumerable<StudentMonitoringSystem.Models.SubjectTimeTable1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@Html.DropDownList("TeacherID", ViewBag.TeacherID as SelectList,"SelectValue")
<table class="table">
    <tr>


        <th>Subject</th>
        <th>Days</th>
        <th>Time</th>
        <th>Class</th>
        <th>Section</th>
      

    </tr>

    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
              
            </tr>
        }

    </tbody>


</table>




@section Scripts{
    <script>
        $(document).ready(function () {
            $('#TeacherID').change(function () {
                var TeacherID = $(this).val();
                $.getJSON("/TeacherTimeTable/GetTimeTable?ID=" + TeacherID, function (data) {
                    var empdata = "";


                    $.each(data, function (key, val) {
                        // alert(val.cityID);


                        empdata += "<tr>"; // here i add



                        empdata += "<td>" + val.SubjectName + "</td>";

                        empdata += "<td>" + val.Days + "</td>";




                        empdata += "<td>" + val.timming + "</td>";
                        empdata += "<td>" + val.ClassName + "</td>";
                        empdata += "<td>" + val.SectionName + "</td>";
                       // empdata += "<td>" + val.TeacherName + "</td>";


                        //empdata += "<td>" + val.DayID + "</td>";
                      //  empdata += "<td>" + val.hour + "</td>";
                       // empdata += "<td>" + val.Phone + "</td>";
                      //  empdata += "<td>";
                        //empdata += "<a href='/Employee/Edit/" + val.employeeID + "'>Edit</a> | ";
                        //empdata += "<a href='/Employee/Details/"+val.employeeID+"'>Details</a> | ";
                        //empdata += "<a href='/Employee/Delete/"+val.employeeID+"'>Details</a>";
                     //   empdata += "</td>";
                        empdata += "</tr>";
                    });
                    $('#tableBody').empty().html(empdata);
                  //  $('#header').empty().html(header);

                })

            })
        });
    </script>

}
